@model IEnumerable<CatalogOnline.Models.TeacherModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>First Name</p>
            </th>
            <th>
                <p>Last Name</p>
            </th>
            <th>
                <p>Email</p>
            </th>
            <th>
                <p>Phone Nr</p>
            </th>
            <th>
                <p>Discipline</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdTeacher }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdTeacher }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdTeacher })
            </td>
        </tr>
}
    </tbody>
</table>
