@model CatalogOnline.Models.GradeModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GradeModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" hidden>
            Id Grade
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.IdGrade)
        </dd>
        <dt class = "col-sm-2">
            Student Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameStud)
        </dd>
        <dt class = "col-sm-2">
            Teacher Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTeach)
        </dd>
        <dt class = "col-sm-2">
            Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Discipline
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discipline)
        </dd>
        <dt class = "col-sm-2">
            Grade 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade1)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdGrade }) |
    <a asp-action="Index">Back to List</a>
</div>
